# Specifically keep editor options folders so that users who edit it and then use a compiler
# seperately still can use their editors without errors and only get errors through the actual
# compiler.

# Build folder
dist/**/**/*

# Build zips
tread-bin-WIN.*
tread-bin-UNIX.*

# Executable binary files
src/bin

# Build log
build.bat.log
build.sh.log

# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Autotools
/autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/Makefile.in

# Editor files
*~
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.kate-swp

# CLion
cmake-build-*/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
